<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @b_account.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @b_account.name %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @b_account.plan %>
</p>

<p>
  <strong>Fact:</strong>
  <%= @b_account.fact %>
</p>

<%= link_to 'Edit', edit_b_account_path(@b_account) %> |
<%= link_to 'Back', b_accounts_path %>
