<%= form_for(@resourcer) do |f| %>
  <% if @resourcer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resourcer.errors.count, "error") %> prohibited this resourcer from being saved:</h2>

      <ul>
      <% @resourcer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
