<p id="notice"><%= notice %></p>

<h1>Listing Aaccounts</h1>

<table class="plain_table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Company name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @a_accounts.each do |a_account| %>
      <tr>
        <td><%= a_account.number %></td>
        <td><%= a_account.company_name %></td>
        <td><%= a_account.code %></td>
        <td><%= link_to 'Show', a_account %></td>
        <td><%= link_to 'Edit', edit_a_account_path(a_account) %></td>
        <td><%= link_to 'Destroy', a_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aaccount', new_a_account_path %>
